@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary : #ffffff;
  --secondary: #000000;
  --tertiary :#71717A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box
}

.section-container {
  @apply flex flex-col px-5 text-justify w-full h-full  mb-5  border border-red-700 ;
}

.about-paragraph {
  @apply text-left tracking-wide mb-4 text-tertiary
}
