@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary : #ffffff;
  --secondary: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
}

.section-container {
  @apply flex flex-col px-5 text-justify w-full h-dvh border border-red-700 my-10;
}
