@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary : #ffffff;
  --secondary: #000000;
  --tertiary :#71717A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box
}

.section-container {
  @apply flex flex-col px-5 text-justify w-full h-full  my-10   2xl:w-[80%] xl:mx-auto ;
}

.about-paragraph {
  @apply text-left tracking-wide mb-4 text-tertiary
}

.section-heading{
 @apply text-center text-3xl p-10 md:text-5xl md:mb-0
}
.section-heading span {
  @apply ml-2 font-extrabold md:text-5xl
}